<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (ViewBag.Title == "")
                {
                    <li>@Html.ActionLink("На главную", "Index", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("На главную", "MainPage", "Home")</li>
                }
                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (ViewBag.Title == "")
                {
                    <li>@Html.ActionLink("Регистрация", "Registration", "Home")</li>
                }
                else
                {
                    <li> <a style="color: white">Здравствуйте, @ViewBag.UserName </a></li>
                    <li>@Html.ActionLink("Выйти", "LogOut", "Home")</li>
                }
            </ul>
        </div>
    </div>
</div>
    @RenderBody()
</body>
</html>
